header{
    background-color: #787673;
    text-align: center;
    padding-inline: 2vmin;
}


nav li{
    list-style: none;
    display: inline;
    text-align: center;
    padding-inline: 2vmin;
}

body{
    background-color: black;
    color: bisque;
    text-align: center;
}
.photoTop {
    float:left;
    max-width: 33%;
    padding: 2%;
    display: inline;
  
}

.photoBottom {
    float:left;
    max-width: 23%;
    padding: 2%;
    text-align: center;
    display: inline;
}

.textP{
    clear: both;
}